<br/>
<br/>
<br/>
<div class="example-card1" *ngFor="let food of wishListItems" style="max-width:700px;margin-left: 300px;">
<mat-card class="example-card"    >
    <mat-card-header>
      </mat-card-header>
    <mat-card-content>
      <div style="display: flex">
        <div style="flex: 1">
            <mat-card-subtitle> <img  [src]="food.img" alt=""/></mat-card-subtitle>
        </div>
        <div style="flex: 1;margin-left: 200px;">
            <h3>{{food.name}} </h3>
            <h3>{{food.price}} &#x20b9;</h3>
            <h3><button (click)="increaseQuantity(food)">&#43;</button><input [(ngModel)]="food.quantity" (blur)="onBlur()"   style="width: 30px;"/><button (click)="decreaseQuantity(food)" [disabled]="1>=food.quantity">&minus;</button></h3>
            <br/>
            <button mat-raised-button color="primary" style="flex: 1;background-color: green;" (click)="moveToCart(food)">moveToCart</button>
            <br/>
            <br/>
            <button mat-raised-button color="primary" style="flex: 1;background-color: red;" (click)="removeFromWishList(food)">Remove</button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>

</div>
  <div style="margin-left: 300px;max-width:700px;">
      <mat-card class="example-card">
          <mat-card-header>
            </mat-card-header>
          <mat-card-content>
            <div style="margin-left: 550px;
            max-width: 700px;">
            <div >
                <h4>Total: {{total}} &#x20b9;</h4>
            </div>
            <br/>
            <div>
              <button mat-raised-button color="primary" style="flex: 1;" (click)="navigateToPayment()">pay</button>
            </div>
          </div>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
        <mat-divider></mat-divider>
      
    </div>
    
  
